auto-install-peers = true
package-manager=pnpm@9


# Prevent hoisting of React and related packages
hoist-pattern[]=!react
hoist-pattern[]=!react-dom
hoist-pattern[]=!@types/react
hoist-pattern[]=!@types/react-dom

# Prevent hoisting of next-themes
hoist-pattern[]=!next-themes
